header {
  display: flex;
  justify-content: space-between;
  height: 59px;
  margin: 30px auto;
  width: 100%;
  max-width: 890px;
}

header nav {
  flex: 2;
}

.little-lemon-logo {
  width: 202px;
}

@media all and (max-width: 500px) {
  header {
    width: 100%; /* Ensure it does not exceed viewport */
    max-width: 378px; /* Use max-width to set limits */
  }

}