/*
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  /* width: 890px; */
}


header {
  display: flex;
  /* justify-content: center; */
  justify-content: space-between;
  height: 59px;
  /* margin: 30px; */
  margin: 30px auto;
  width: 890px;
  /* border: 1px solid black; */
}

header nav {
  flex: 2;
}

/*
header div {
  display: flex;
  height: 59px;
  margin: 30px;
}
*/

nav {
  /* border: 1px solid black; */
}

ul {
  /* border: 1px solid black; */
}

nav ul {
  display: flex;
  justify-content: center;
  /* width: 100%; */
}

ul li {
  /* display: inline; */
  list-style: none;
  flex: 1;
  /* padding: 10px;
  margin-left: 8px;
  margin-right: 8px; */
  text-align: center;
  /* border: 1px solid black; */
}

ul li a {
  font-family: "Karla", sans-serif;
  font-weight: 500;
}

ul li a:link, ul li a:visited {
  text-decoration: none;
  color: #000000;
}

.little-lemon-logo {
  width: 202px;
  /* height: 59px; */
  /* border: 1px solid yellow; */
}

main {
  background-color: #495E57;
}